@model List<NovedadesModel>
        


<h2>Listado de Novedades</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Asunto</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Remitente</th>
            <th>Respuesta</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.asunto_novedades</td>
                <td>@item.desc_novedades</td>
                <td>@item.est_novedades</td>
                <td>@item.fec_novedades.ToString("dd/MM/yyyy")</td>
                <td>@item.rem_novedades</td>
                <td>@item.res_novedades</td>
                <td>@item.tipo_novedad</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.id" class="btn btn-primary">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Guardar", "Novedades")" class="btn btn-primary">Agregar Nuevo</a>
